nav {
    background-color: #90a4ae; 
}

nav,.container {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.inline-icon {
    vertical-align: bottom;
   // font-size: 18px !important;
 }

ul.show li:before{
    content: 'arrow_forward';
    font-family: 'Material Icons';
}
ul.show li {
    margin-bottom: 15px;
}

ul.show.show_tab li {
    margin-left: 15px;
}

.grid-container {
    display: grid;
    grid-auto-flow: column;
    column-gap: 2.5em;
}

.flex-container {
    display: flex;
    align-items: align-items;
    /*
    justify-content: center;*/
    justify-content:space-between;
    flex-direction: row;
  }
  div.comment{
    display: flex;
    flex-direction: column;
    justify-content:space-around;
  } 
  div.comment  .main_comment{ /*div:nth-child(2) {*/
    padding-left: 10%;
    padding-right: 10%;
  }
  div.comment  div:nth-child(3) {
      margin-top: 10px;
  }
  
div.warning {
    color: darkred;
    font-weight: bold;
}

span.li_supt {
    font-weight: bold;
}

#summary {
    margin-bottom: 40px;
}


#molecule_setup, #bilayer_setup, #insane_setup {
    border: solid 1px darkgrey;
    padding: 5px 5px 5px 15px;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 80px;
}

div.info {   
    color: #0c5460;
    background-color: #d1ecf1;
    border-color: #bee5eb;
    border-radius: 10px;
    padding: 1em;
}

div.todo {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    border-radius: 10px;
    padding: 1em;

    display:flex;
    gap:1em; 
    align-items: center;
}

div.warning {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-radius: 10px;
    padding: 1em;
}
div.disclaimer {
    color: #856404;
    background-color: #fff3cd;
    border-color: #ffeeba;
    border-radius: 10px;
    padding: 1em;
    display:flex;
    gap:1em; 
    align-items: center;
}

div#insane_setup .comment {
    margin-top: 30px;
    row-gap: 30px;
    justify-content:space-around;
}
div#insane_setup .preamb {
    margin-bottom: 5px;
    
}
#references li {
    font-size: 0.75em;
}

div#insane_setup .warning {
    margin-top: 0px;
    
}
span.MAD_logo {
    font-weight: bold;
    color :slategray;
    white-space:nowrap;
}

span.command {
    white-space:nowrap;
    font-weight: bold;
}
/*.row {
    display:flex; 
}*/

/*.img {
    display:flex; 
    align-items:center; 
    border:solid; 
    border-color:#90a4ae; 
    border-width: 1px;
    margin: 1%; 
}*/


.classic-container {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 1em;
    padding: 2%;
  }

  .classic-container > div {
    margin-top:  1.5em;
  }


  .elastic-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 1em;
    padding: 2%;
  }