nav {
    background-color: #90a4ae; 
}

/*.row {
    display:flex; 
}*/

/*.img {
    display:flex; 
    align-items:center; 
    border:solid; 
    border-color:#90a4ae; 
    border-width: 1px;
    margin: 1%; 
}*/